@use "variables" as *;
@use "mixins" as *;

.fixed-header {
  background: #212121;
  transition: 0.3s;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999;

  &-black {
    background-color: #212121;
  }

  &-wrapper {
    height: 75px;
    display: flex;
    justify-content: space-between;

    &__nav {
      ul {
        list-style: none;
        padding: 0;

        li {
          margin-right: 0;
          font-weight: 700;
          display: inline-block;
        }
      }
    }

    &__toggler {
      display: inline-flex;
      align-items: center;

      margin-top: auto;
      margin-bottom: auto;

      .logo {
        a {
          font-size: 1.6em;
          color: #fff;
        }
      }

      .cart {
        position: absolute;
        top: 20px;
        right: 60px;
        background: none;
        border: none;
        display: none;

        i {
          font-size: 30px;
          color: #fff;
        }
      }

      .hamburger {
        opacity: 0;
        cursor: pointer;

        span {
          height: 3px;
          width: 32px;
          display: block;
          transition: transform 0.3s;
          background-color: white;

          &:not(:last-child) {
            margin-bottom: 5px;
          }

          &:nth-child(2) {
            width: 20px;
            margin-left: auto;
          }
        }

        &-close {
          display: block;

          span {
            background-color: #fff;

            &:nth-child(2) {
              display: none;
            }

            &:nth-child(1) {
              transform: rotate(40deg);
            }

            &:nth-child(3) {
              transform: rotate(-40deg);
              margin-top: -7px;
            }
          }
        }
      }
    }

    @media (min-width: 992px) {
      &__nav {
        ul {
          list-style: none;
          margin-top: auto;
          margin-bottom: auto;

          li {
            display: inline-block;
            margin-right: 24px;
            padding-top: 24px;
            padding-bottom: 24px;
            cursor: pointer;
            font-size: 16px;
            font-weight: 400;

            .header-btn {
              padding: 10px 30px;
              background-color: #fff;
              color: #212121;
            }

            &:last-child {
              margin-right: 0;
            }

            a {
              padding-top: 35px;
              padding-bottom: 30px;
              color: #fff;
            }

            .dropdown-area {
              background-color: #fff;
              position: absolute;
              width: 100%;
              left: 0;
              top: 90px;
              padding-top: 50px;
              padding-bottom: 50px;
              opacity: 0;
              pointer-events: none;
              transform: translateY(10px);
              transition: opacity 0.25s ease, transform 0.25s ease;
              box-shadow: rgb(149 157 165 / 20%) 0px 20px 24px;
              border-top: 1px solid #f1f1f1;

              &::before {
                content: "";
                position: absolute;
                right: 0;
                top: 20px;
                // background-image: url('../../../assets/img/valt-shape.png');
                width: 400px;
                height: 100%;
                background-repeat: no-repeat;
                opacity: 0.5;
              }

              .dropdown-inner {
                display: flex;
                justify-content: space-between;
                position: relative;
                z-index: 100;

                &__each {
                  figure {
                    width: 200px;
                    height: 100%;
                    display: flex;

                    img {
                      width: 100%;
                      object-fit: cover;
                      margin-right: 30px;
                    }
                  }

                  h3 {
                    font-size: 1.2em;
                    margin-bottom: 40px;
                    position: relative;
                    -webkit-text-stroke-color: #212121;

                    &:before {
                      content: "";
                      position: absolute;
                      top: 34px;
                      left: 0;
                      height: 3px;
                      width: 50px;
                      background-color: rebeccapurple;
                    }
                  }

                  ul {
                    li {
                      display: block;
                      font-size: 18px;
                      padding: 0;
                      margin-bottom: 20px;
                    }
                  }
                }
              }
            }
          }

          .dropdown-btn {
            &:hover {
              .dropdown-area {
                opacity: 1;
                pointer-events: all;
                transform: translateY(-15px);
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 991px) {
    flex-direction: column;
    padding: 0;
    width: 100%;
    position: fixed;

    &-wrapper {
      flex-direction: column;
      width: 100%;

      &__toggler {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .hamburger {
          opacity: 1;
          cursor: pointer;
        }
      }

      .sidebarActive {
        transform: translateX(0);
      }

      &__nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 320px;
        transform: translateX(-100%);
        transition: 0.5s ease-in-out;
        background-color: #212121;
        overflow: auto;

        .logo {
          padding-left: 15px;

          img {
            width: 100px;
            margin-top: 20px;
          }
        }

        .dropdown-btn {
          padding: 0 !important;
          & > a {
            padding: 10px 20px;
          }
        }

        ul {
          padding-top: 30px;

          li {
            display: block;
            padding: 10px 20px;
            border-bottom: 1px solid #383838;
            cursor: pointer;
            font-size: 18px;

            a {
              color: #fff;
            }

            .dropdown-area {
              background-color: #2e2e2e;
              opacity: 0;
              pointer-events: none;
              height: 0;
              transition: 0.3s ease-in-out;
              overflow: hidden;
              color: #fff;
              padding-left: 20px !important;

              .container {
                max-width: 100%;
                padding: 0;
              }

              .dropdown-inner {
                &__each {
                  //   border-bottom: 1px solid #585858;
                  &:last-child {
                    margin-bottom: 10px;
                  }
                  h3 {
                    font-size: 18px;
                    padding: 10px 6px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    text-transform: uppercase;
                    span {
                      padding-right: 12px;
                    }
                  }

                  &:last-child {
                    h3 {
                      margin-bottom: 0;
                    }
                  }

                  img {
                    display: none;
                  }

                  ul {
                    padding-top: 0;
                    opacity: 0;
                    height: 0;
                    transition: 0.3s ease-in;
                    overflow: hidden;
                    margin-right: 20px;
                    background-color: #fff;
                    // border-radius: 5px;

                    li {
                      margin: 0;
                      padding: 10px;
                      border-bottom: 1px solid #d8d8d8;
                      a {
                        color: #212121;
                      }
                    }
                  }
                  &:last-child {
                    .active {
                      margin-bottom: 20px;
                    }
                  }

                  .active {
                    opacity: 1;
                    height: auto;
                    margin-top: 0;
                    // background-color: #fff;
                  }
                }
              }
            }
            .active {
              opacity: 1;
              pointer-events: all;
              height: auto;
              // margin-top: 16px;
            }
          }

          .dropdown-btn {
            a {
              display: flex;
              justify-content: space-between;
              align-items: center;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .fixed-header {
    background-color: #fff;
    animation: fadeIn 0.5s running;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    .logo {
      a {
        color: #212121;
      }
    }

    .header-wrapper__nav {
      ul {
        li {
          a {
            color: #212121;
            cursor: pointer;
          }
          .header-btn {
            background-color: $secondaryColor;
          }
        }
      }
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translate3d(0, -50%, 0);
    }

    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  .header-bg {
    background-color: #ffffff;
    z-index: 999;

    .logo {
      a {
        color: #212121;
      }
    }

    .header-wrapper__nav {
      ul {
        li {
          a {
            color: #212121;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.offcanvas {
  // visibility: visible !important;
  // transform: translateX(0) !important;
  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #fff;
  }

  ::-webkit-scrollbar-thumb {
    background: #c8c8c8;
  }
  &-body {
    padding-top: 0;
    .cart-item {
      &__each {
        display: flex;
        border-top: 1px solid #bcbcbc;
        padding-top: 10px;
        figure {
          width: 100px;
          height: 90px;
          display: flex;
          background-color: #eee;
          padding: 10px;
          border-radius: 5px;
          img {
            object-fit: contain;
          }
        }
        .inc-dec {
          display: flex;
          button {
            margin-right: 8px;
            background-color: #787878;
            border: none;
            color: #fff;
            padding: 10px;
            height: 30px;
            display: flex;
            align-items: center;
            border-radius: 2px;
            &:last-child {
              margin-right: 0;
            }
          }
          p {
            margin-right: 8px;
          }
        }
        .content {
          margin-left: 20px;
          h3 {
            font-size: 1.2em;
            margin-bottom: 5px;
          }
          p {
            margin-bottom: 6px;
          }
        }
      }
    }
  }
  &-footer {
    background-color: #dbdbdb;
    padding: 10px;
    .dual-button {
      display: flex;
      button {
        margin-right: 10px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
