<header class="header" [ngClass]="{'header-bg': isMouse, 'fixed-header': navbarFixed, 'header-black':isHeaderBlack}"
    (scroll)="onscroll()">
    <div class="container">
        <div class="header-wrapper">
            <div class="header-wrapper__toggler">
                <div class="logo">
                    <a href="">KHANAPINA</a>
                </div>
                <div class="hamburger" (click)="openSidebar()" [ngClass]="{'hamburger-close':isSidebar}">
                    <span class="first-bar"></span>
                    <span class="second-bar"></span>
                    <span class="third-bar"></span>
                </div>
            </div>
            <div class="header-wrapper__nav" [ngClass]="{'sidebarActive': isSidebar}">
                <ul>
                    <li routerLink="/"><a>ABOUT US</a></li>
                    <li class="dropdown-btn" (mouseenter)="isMouse = true" (mouseleave)="isMouse = false">
                        <a (click)="openDropdownSidebar(1)">OUR FOODS <i class="flaticon-down-arrow-1"></i></a>
                        <div class="dropdown-area" [ngClass]="{'active':dropdownMobileIndex === 1}">
                            <div class="container">
                                <div class="dropdown-inner">
                                    <div class="dropdown-inner__each">
                                        <figure>
                                            <img src="assets/images/food-2.jpg" alt="">
                                        </figure>
                                    </div>
                                    <div class="dropdown-inner__each">
                                        <h3 (click)="openDropdownInner(1)">BREAKFAST<span class="d-lg-none"><i
                                                    class="flaticon-down-arrow-1"></i></span></h3>
                                        <ul [ngClass]="{'active':dropdownMobileIndex2 === 1}">
                                            <li routerLink="/integration/pos-partner">
                                                <a routerLink="">Plater 1</a>
                                            </li>
                                            <li>
                                                <a routerLink="">Plater 2</a>
                                            </li>
                                            <li>
                                                <a routerLink="">Plater 3</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="dropdown-inner__each">
                                        <h3 (click)="openDropdownInner(2)">LUNCH<span class="d-lg-none"><i
                                                    class="flaticon-down-arrow-1"></i></span></h3>
                                        <ul [ngClass]="{'active':dropdownMobileIndex2 === 2}">
                                            <li routerLink="/integration/pos-partner">
                                                <a routerLink="">Plater 1</a>
                                            </li>
                                            <li>
                                                <a routerLink="">Plater 2</a>
                                            </li>
                                            <li>
                                                <a routerLink="">Plater 3</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="dropdown-inner__each">
                                        <h3 (click)="openDropdownInner(3)">DINNER<span class="d-lg-none"><i
                                                    class="flaticon-down-arrow-1"></i></span></h3>
                                        <ul [ngClass]="{'active':dropdownMobileIndex2 === 3}">
                                            <li routerLink="/integration/pos-partner">
                                                <a routerLink="">Plater 1</a>
                                            </li>
                                            <li>
                                                <a routerLink="">Plater 2</a>
                                            </li>
                                            <li>
                                                <a routerLink="">Plater 3</a>
                                            </li>
                                            <li><button class="main-btn">Get started today</button></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li><a routerLink="/food-menu" routerLinkActive="active">MENU</a></li>
                    <li><a routerLink="" routerLinkActive="active" class="header-btn">BOOK A TABLE</a></li>
                    <li><a data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
                            aria-controls="offcanvasExample">Cart {{cartCount}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

<!-- <app-add-cart></app-add-cart> -->

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <h2>Cart is Empty</h2>
        <button class="main-btn" routerLink="/food-menu">Order Now</button>
    </div>
</div>