<section class="food-details pt-100 pb-70">
  <div class="container">
    <div class="row" *ngIf="foodData">
      <div class="col-lg-6 pb-30">
        <div class="food-details__left">
          <figure>
            <img src="{{ foodData.thumb }}" alt="" />
          </figure>
        </div>
      </div>
      <div class="col-lg-6 pb-30">
        <div class="food-details__right">
          <h3>{{ foodData.title }}</h3>
          <p>{{ foodData.desc }}</p>
          <h4>Price ${{ foodData.price }}</h4>
          <button
            class="main-btn"
            (click)="addToCart(foodData)"
            id="liveToastBtn"
          >
            Order Now
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
