<section class="app-download pt-50 pb-20">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 pb-30">
        <div class="app-download__left">
          <h3>Download Our Mobile App</h3>
          <p>Order from anywhere in Bangladesh</p>
          <div class="service-btn">
            <a href=""><img src="assets/images/google-play.jpg" alt="" /></a>
            <a href=""><img src="assets/images/play-store.jpg" alt="" /></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 pb-30">
        <div class="app-download__right">
          <figure>
            <img src="assets/images/apps.png" alt="" />
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
