<div class="food-story">
  <div class="container">
    <div class="food-story__content">
      <h3>
        Where every ingredient <br />
        tells a story
      </h3>
      <button class="main-btn">Make a reservation</button>
    </div>
  </div>
</div>

<section class="pt-100 pb-100">
  <div class="container">
    <div class="row">
      <div class="col-xl-10 col-lg-12 mx-auto">
        <div class="app-download">
          <div class="row align-items-center">
            <div class="col-md-6">
              <div class="app-download__left">
                <h3>Download Our Mobile App</h3>
                <p>Order from anywhere in Bangladesh</p>
                <div class="service-btn">
                  <a href=""
                    ><img src="assets/images/google-play.jpg" alt=""
                  /></a>
                  <a href=""
                    ><img src="assets/images/play-store.jpg" alt=""
                  /></a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="app-download__right">
                <figure>
                  <img src="assets/images/apps.png" alt="" />
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
