<footer class="footer-area pt-100 pb-79">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 pb-30">
        <div class="footer-area__each">
          <h3>Khanapina</h3>
          <p>
            Be the first to know about new collections, special events, and
            what’s going on at Our Place. We are creative
          </p>
          <a href="">Know more about us</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 pb-30">
        <div class="footer-area__each">
          <h3>Contact info</h3>
          <ul>
            <li>
              <h4>CALL:</h4>
              <p><a href="">+8801236545478</a></p>
            </li>
            <li>
              <h4>WRITE:</h4>
              <p><a href="">your.email@here.com</a></p>
            </li>
            <li>
              <h4>FIND US:</h4>
              <p>Canada, Toronto, 31B</p>
            </li>
          </ul>
          <a href="">Read More</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 pb-30">
        <div class="footer-area__each pr-0">
          <h3>Gallery</h3>
          <div class="gallery">
            <figure>
              <img src="assets/images/food-10.jpeg" alt="" />
            </figure>
            <figure>
              <img src="assets/images/food-11.jpeg" alt="" />
            </figure>
            <figure>
              <img src="assets/images/food-12.jpeg" alt="" />
            </figure>
            <figure>
              <img src="assets/images/food-13.jpeg" alt="" />
            </figure>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="footer-area__bottom">
      <p>&copy; 2023 Khanapina. All rights reserved</p>
    </div>
  </div>
</footer>
