.food-list {
    &__each {
        background-color: #eee;
        padding: 10px;
        border-radius: 5px;
        height: 200px;
        display: block;
        cursor: pointer;

        h3 {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            font-size: 1.4em;
        }
    }
}