@use 'variables' as *;

@mixin breakpoint-max($maxWidth) {
    @media only screen and (max-width: $maxWidth) {
        @content;
    }
}

@mixin box-shadow($x, $y, $blur, $spread) {
    -webkit-box-shadow: $x $y $blur $spread;
    -moz-box-shadow: $x $y $blur $spread;
    -ms-box-shadow: $x $y $blur $spread;
    -o-box-shadow: $x $y $blur $spread;
    box-shadow: $x $y $blur $spread;
}

@mixin before ($content: '', $pos: absolute) {
    position: relative;

    &::before {
        content: $content;
        position: $pos;
        @content;
    }
}